<!-- Themes Register + Image -->
<ion-header>
    <ion-navbar transparent>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title *ngIf="data != null" text-left>{{data.toolbarTitle}}</ion-title>
    </ion-navbar>
</ion-header>
<!--Content -->
<ion-content>
    <ion-grid no-padding *ngIf="data != null">
        <ion-row center>
            <!-- Big Images Header -->
            <ion-col no-padding col-12 background-size [ngStyle]="{'background-image': 'url(' + data.background + ')'}">
                <!-- Header Title -->
                <h1 ion-text color="light" header-title text-wrap>{{data.title}}</h1>
            </ion-col>
            <ion-col no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <!--Form-->
                <ion-item>
                    <!---Input field username-->
                    <ion-label color="dark" stacked>{{data.lableUsername}}</ion-label>
                    <ion-input required placeholder="{{data.username}}" type="text" [(ngModel)]="username"></ion-input>
                </ion-item>
                <ion-item>
                    <!---Input field password-->
                    <ion-label color="dark" stacked>{{data.lablePassword}}</ion-label>
                    <ion-input required placeholder="{{data.password}}" type="password" [(ngModel)]="password"></ion-input>
                </ion-item>
                <ion-item>
                    <!---Input field email-->
                    <ion-label color="dark" stacked>{{data.lableEmail}}</ion-label>
                    <ion-input required placeholder="{{data.email}}" type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required [(ngModel)]="email"></ion-input>
                </ion-item>
                <ion-item>
                    <!---Input field country-->
                    <ion-label color="dark" stacked>{{data.lableCountry}}</ion-label>
                    <ion-input required placeholder="{{data.country}}" type="text" pattern="[a-zA-Z ]*" required [(ngModel)]="country"></ion-input>
                </ion-item>
                <ion-item>
                    <!---Input field city-->
                    <ion-label color="dark" stacked>{{data.lableCity}}</ion-label>
                    <ion-input required placeholder="{{data.city}}" type="text" pattern="[a-zA-Z ]*" required [(ngModel)]="city"></ion-input>
                </ion-item>
                <!---Register button-->
                <button ion-button float-right margin-top clear button-clear text-capitalize (click)="onEvent('onRegister')">{{data.register}}</button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
