<!-- Theme Search Field + Header 2 -->
<ion-header header-ios>
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title *ngIf="data != null" text-left>{{data.headerTitle}}</ion-title>
  </ion-navbar>
  <ion-toolbar no-padding>
    <div header-section>
      <!-- Header Big Title -->
      <h1 no-margin header-title>{{data.title}}</h1>
      <div class="search-bar-bcg">
        <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onEvent('onTextChange', $event)"></ion-searchbar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<!--Content -->
<ion-content>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <!-- List Search-->
      <ion-col col-12>
        <!-- Content List -->
        <ion-list no-margin>
          <ion-item border no-lines *ngFor="let item of data.items;" (click)="onEvent('onItemClick', item)">
            <div gradient item-start>
              <img images-filter [src]="item.avatar">
            </div>
            <!--Title -->
            <h2 ion-text item-title text-wrap>{{item.title}}</h2>
            <!--Subtitle -->
            <p ion-text item-subtitle text-wrap>{{item.subtitle}}</p>
            <ion-note item-end>
              {{item.detail}}
            </ion-note>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
