<!-- Themes Drag and drop - Small item + header -->
<ion-content has-header>
    <ion-grid no-padding *ngIf="data != null">
        <!--Header-->
        <ion-row>
            <!--Content-->
            <ion-col col-12>
                <ion-list-header header-section>
                    <h1 header-title>{{data.header}}</h1>
                </ion-list-header>
                <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
                    <ion-item border no-lines padding-left *ngFor="let item of data.items; let i = index;"
                    (click)="onEvent('onItemClick', item.title, $event)">
                        <h2 item-title>{{item.title}}</h2>
                        <h3 item-subtitle>{{item.subtitle}}</h3>
                        <p item-subtitle item-end>{{item.textIcon}}</p>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
