<!-- Theme Sticky List Header - Basic -->
<ion-content has-header>
  <div *ngIf="data != null">
    <ion-list no-margin *ngFor="let item of data.items">
      <!-- Header Top -->
      <ion-item-divider no-margin header-title ion-affix
        [content]="content" style="background:light">{{item.groupName}}
      </ion-item-divider>
      <ion-item *ngFor="let element of item.items" border no-lines
        (click)="onEvent('onItemClick', element.title, $event)">
        <!-- Avatar -->
        <ion-avatar item-start>
          <img [src]="element.image" alt="{{element.title}}" />
        </ion-avatar>
        <!-- Title -->
        <h2 item-title text-wrap>{{element.title}}</h2>
        <!-- Subtitle -->
        <p item-subtitle text-wrap>{{element.subtitle}}</p>
        <!-- Badge -->
        <div item-content (click)="onEvent('onProceed', element, $event)">
          <ion-badge class="badge-light">{{element.price}}</ion-badge>
        </div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
